body {
  background-color: lightblue;
}

h1 {
  color: darkblue;
  text-align: center;
}

h2 {
  color: darkblue;
  text-align: center;
  font-size: 17px;
  margin-top: -10px;
}

p {margin-top: 20px;
  font-family: verdana;
  font-size: 21px;
  text-align: center;
}
